.uperheading {
  display: flex;
}
.not {
  margin-right: 17px;
}
.heading {
  background: white;
    padding: 13px;
    border-radius: 10px;
}
.user {
  background: #f0f5fb5b;
    border: 1px solid #f0f5fb ;
}
.total {
  margin: 0;
}
.user {
  padding: 10px;
}
.blogImg {
  width: 100%;
  height: 300px;
  border-radius: 10px;

}
.para {
  font-size: 13px;
}
.show {
  color: #47a1f6;
  border-bottom: 0.5px solid #47a1f6;
  cursor: pointer;
  width: fit-content;
}
.blogs {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}
.lastPart {
  display: flex;
  color: black;
  font-size: 15px;
}
.date {
  margin-left: 15px;
  margin-right: 40px;

}
.profile {
  margin-left: 15px;

}
.shoppingR {

  text-align: right;

}
.shopping {
  color: #47a1f6;
  font-size: 40px;

}
.cartItem {
  margin-top: 30px;
  color: black;
  font-weight: bold;

}
.cardName {

}
.cardC {
  width: 25%;
  background-color: white;
  margin: 20px 10px;
  border-radius: 10px;
  padding: 15px;
}
.card1 {
  margin-left: 0;
}
.card4 {
  margin-right: 0;
}
.cardt {
  display: flex;
}
.blogP {
  border-bottom:1px solid #f0f5fb ;
  display: flex;

}
.latestBlog {
  background: white;
  border-radius: 10px;
  padding: 10px;
}
.blog1 {
  width: 23%;
  margin: 10px;
}
.allblogs {
  display: flex;
  flex-wrap: wrap;
}
.bImg {

  width: 144px;
  height: 72px;
  border-radius: 15px;

}

.blogH {
  margin: 20px 0;
  color: black;
}
.blogP {
  font-size: 12px;
}
